.grantFormTable {
    width: 100%;
    border-color: #111111;
}
.grantFormHeader {
    text-align: center;
}

.grantFormLabelCell {
}

.grantFormLabel {
    padding: 10px;
}

.grantFormSubmit {
    width: 100%;
}

// For blog post

.post-title {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.post-subtitle {
    font-weight: 300;
    margin: 0 0 10px;
}
.post-preview>.post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #868e96;
}
.section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
}