{% extends "main.html" %}
{% block content %}

<hr>
<form class="form-vertical" method="post" enctype = "multipart/form-data">


	{{ form.hidden_tag() }}

	<table class="table table-dark">
		{% for item in form %}
			{% if "CSRF" not in item.label() and "Submit" not in item.label() and "Save" not in item.label()%}
				<tr>
					<div class="form-group">
						<td>{{item.label(class_="grantFormLabel")}}:</td>
						{% if "File" in item.label() %}
							<td class="form-control">{{item}}</td>
						{% else %}
							<td>{{item(class_="form-control")}}</td>
						{% endif %}
					</div>
				</tr>
			{% endif %}
		{% endfor %}

	</table>
	{{form.submit(class_="btn btn-primary grantFormSubmit")}}

</form>
<hr>
{% endblock %}