<!DOCTYPE html>
<html lang="en">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//bootstrap.css">

<!-- jQuery library -->
<script src="//jquery-2.1.4.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="//bootstrap.js"></script>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ displayableAppName }}</title>

    </head>
    <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">

        <div class="page-header">
            {% if welcomeMessage %}
                {{ welcomeMessage }}
                <br><br>
            {% endif %}
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">

                        {% if menuOptions %}
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% endif %}
                        <a class="navbar-brand" href="#">{{ displayableAppName }}</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">

                            {% for menuOption in menuOptions %}
                            <li {% if menuOption.active %}class="active"{% endif %}>

                                <a href="{{menuOption.url}}">
                                    {{menuOption.title}}
                                    <span class="sr-only">
                                      (current) <!--highlight the current page-->
                                  </span>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            {% if projectName %}
                {{ projectName }}
                <br>
            {% endif %}

        </div>

        {% block content %}{% endblock %}

        <br>
        <hr>
        <div class="panel-footer">
            Web Design by <a href="http://www.grant-miller.com">Grant(at)grant-miller.com</a>
        </div>

    </div>
    </body>
</html>